<p>A named entity recognition pipeline that identifies basic entity types, such 
as <em>Person</em>, <em>Location</em>, <em>Organization</em>, <em>Money</em> 
amounts, <em>Time</em> and <em>Date</em> expressions. It works on documents
in the Russian language.</p>

<p>This version of the pipeline includes an <em>orthomatcher</em> to perform
basic coreference resolution based on orthographic similarity.</p>
