<p>A named entity recognition pipeline that identifies basic entity types, such 
as <em>Person</em>, <em>Location</em>, <em>Organization</em>, <em>Money</em> 
amounts, <em>Time</em> and <em>Date</em> expressions. It works on documents
in the Russian language.</p>
